.header {
  background-image: url('../assets/header-background-mobile.svg');
  background-position: 20px 20px;
}

.header__title h1 {
  font-size: 6.5rem;
  min-height: 88px;
}

.header__title p {
  font-size: 3rem;
}

.main__info p {
  width: 90%;
}

.main__info p.appear {
  transform: translateX(20px);
  opacity: 1;
}

.main__skills--container {
  width: 90%;
  grid-template-columns: 1fr;
}

.main__skills--title {
  margin-bottom: 50px;
  font-size: 5rem;
}

.main__skills--item p {
  font-size: 2.2rem;
}

.main__skills--item {
  margin: 20px;
}
