:root {
  --bg-1: #212121;
  --bg-2: #545454;
  --fg-1: #eeffff;
  --red: #ff5370;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scrollbar-width: none;
}

body {
  font-family: 'Source Code Pro', monospace;
  background-color: var(--bg-1);
  background-image: radial-gradient(circle, rgba(255, 255, 255, 0.123) 1%, transparent 5%),
    radial-gradient(circle, rgba(255, 255, 255, 0.123) 1%, transparent 5%);
  background-size: 30px 30px;
  background-position: 30px 30px;
  background-attachment: fixed;
  height: 200vh;
}

body::-webkit-scrollbar {
  width: 0;
  display: none;
}

.notthatway {
  width: 100%;
  height: 200px;
  background-color: var(--red);
  display: flex;
  justify-content: center;
  align-items: center;
}

.notthatway p {
  font-size: clamp(3rem, 4vw, 5rem);
  color: var(--bg-1);
}

.header {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: start;
  position: relative;
  overflow: hidden;
}

.header__pattern {
  transition: all 500ms linear;
  position: absolute;
}

.header__pattern:hover {
  transform: scale(1.1);
}

.header__pattern:nth-child(1) {
  width: 40vw;
  top: min(10vw, 5vw);
  right: -10vw;
}

.header__pattern:nth-child(2) {
  width: 200px;
  top: 40px;
  left: 50px;
}

.header__pattern:nth-child(3) {
  width: 200px;
  top: 280px;
  left: 53%;
}

.header__pattern:nth-child(4) {
  width: 3vw;
  top: 400px;
  right: 40px;
}

.header__title {
  padding: 0 5vw;
  color: var(--fg-1);
}

.header__title h1 {
  width: fit-content;
  width: -moz-fit-content;
  min-height: 125px;
  font-size: 10rem;
  position: relative;
  animation: fadeIn 1s forwards;
  opacity: 0;
}

.header__title h1::after {
  content: '|';
  position: absolute;
  font-weight: 100;
  bottom: 10px;
  left: 100%;
  animation: cursor 1.5s infinite;
}

.header__title p {
  font-size: 4rem;
  animation: fadeIn 1.5s forwards;
  opacity: 0;
}

.strong {
  color: var(--fg-1);
  font-weight: 900;
}

.underline {
  padding-bottom: 2px;
  border-bottom: 1px solid var(--fg-1);
}

.header__scroll {
  position: absolute;
  width: 100px;
  bottom: 20px;
  right: calc(50% - 50px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: titilar 3s infinite ease-in-out;
}

.header__scroll p {
  font-size: 1.8rem;
  color: var(--fg-1);
}

.header__scroll img {
  margin-top: 10px;
  width: 20px;
  height: 20px;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes cursor {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes titilar {
  0%,
  40%,
  90% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
}
